{% load static %}

<html lang="en">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>Neet Deep Admin Panel</title>
      <meta name="keywords" content="Neet Deep">
      <meta name="description" content="Automation">
      <meta name="author" content="">
      <!-- site icon -->
      <link rel="icon" href="{% static 'images/fevicon.png' %}" type="image/png" />
      <!-- bootstrap css -->
      <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
      <!-- site css -->
      <link rel="stylesheet" href="{% static 'style.css' %}" />
      <!-- responsive css -->
      <link rel="stylesheet" href="{% static 'css/responsive.css' %}" />
      <!-- color css -->
      <link rel="stylesheet" href="{% static 'css/colors.css' %}" />
      <!-- select bootstrap -->
      <link rel="stylesheet" href="{% static 'css/bootstrap-select.css' %}" />
      <!-- scrollbar css -->
      <link rel="stylesheet" href="{% static 'css/perfect-scrollbar.css' %}" />
      <!-- custom css -->
      <link rel="stylesheet" href="{% static 'css/custom.css' %}" />
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
   </head>
   <body class="dashboard dashboard_1">
      <div class="full_container">
         <div class="inner_container">
            <!-- Sidebar  -->
            <nav id="sidebar">
               <div class="sidebar_blog_1">
                  <div class="sidebar-header">
                     <div class="logo_section">
                        <a href="#"><img class="logo_icon img-responsive" src="{% static 'images/logo/logo_icon.png' %}" alt="#" /></a>
                     </div>
                  </div>
               </div>
               {% if request.session.email %}
               <div class="sidebar_blog_2">

                  <h4>General ( {{request.session.name}} )<img src="{{request.session.profile_picture}}" style="width:80px;height:80px;"></h4>
                  <ul class="list-unstyled components">
                     <li class="active">

                        <a href="#dashboard" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-dashboard yellow_color"></i> <span>Dashboard</span></a>
                        <ul class="collapse list-unstyled" id="dashboard">
                           <li>
                              <a href="{% url 'user_info' %}">User Info<i class="fa fa-group"></i></a>
                           </li>
                           <li>
                              <a href="{% url 'signup' %}"><span>Add-User<i class="fa fa-user"></i></span></a>
                           </li>
                        </ul>
                     </li>
                     <li>
                        <a href="#"><i class="fa fa-paper-plane red_color"></i> <span>Contact</span></a>
                     </li>
                     <li class="active">
                        <a href="#additional_page" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-clone yellow_color"></i> <span>Additional Pages</span></a>
                        <ul class="collapse list-unstyled" id="additional_page">
                           <li>
                              <a href="{% url 'profile' %}"><span>Profile<i class="fa fa-user"></i></span></a>
                           </li>
                           <li>
                              <a href="{% url 'logout' %}"><span>Logout<i class="fa fa-sign-out"></i></span></a>
                           </li>
                           <li>
                              <a href="{% url 'change_pass' %}">> <span>Change Password</span></a>
                           </li>
                        </ul>
                     </li>
                  </ul>
               </div>
               {% endif %}
            </nav>
            <div id="content">
               <div class="topbar">
                  <nav class="navbar navbar-expand-lg navbar-light">
                     <div class="full">
                        <button type="button" id="sidebarCollapse" class="sidebar_toggle"><i class="fa fa-bars"></i></button>
                        <div class="logo_section">
                           <a href="#"><img class="img-responsive" src="{% static 'images/logo/logo.png' %}" alt="#" /></a>
                        </div>
                        <div class="right_topbar">
                           <div class="icon_info">
                              <ul class="user_profile_dd">
                                 <li>
                                    <a class="dropdown-toggle" data-toggle="dropdown"><img class="static 'img-responsive rounded-circle'" src="{% static 'images/logo/logo.png' %}" alt="{#}" /><span class="name_user">Menu</span></a>
                                    <div class="dropdown-menu">
                                       {% if request.session.email %}
                                       <a class="dropdown-item" href="#"></a>

                                       {% else %}
                                       <a class="dropdown-item" href="{% url 'login' %}"><span>Log-In</span> <i class="fa fa-sign-in"></i></a>
                                       {% endif %}
                                    </div>
                                 </li>
                                 </li>
                              </ul>
                           </div>
                        </div>
                     </div>
                  </nav>
               </div>
{% block content %}
{% endblock %}
            </div>
         </div>
      </div>

      <script src="{% static 'js/jquery.min.js' %}"></script>
      <script src="{% static 'js/popper.min.js' %}"></script>
      <script src="{% static 'js/bootstrap.min.js' %}"></script>
      <!-- wow animation -->
      <script src="{% static 'js/animate.js' %}"></script>
      <!-- select country -->
      <script src="{% static 'js/bootstrap-select.js' %}"></script>
      <!-- owl carousel -->
      <script src="{% static 'js/owl.carousel.js' %}"></script>
      <!-- chart js -->
      <script src="{% static 'js/Chart.min.js' %}"></script>
      <script src="{% static 'js/Chart.bundle.min.js' %}"></script>
      <script src="{% static 'js/utils.js' %}"></script>
      <script src="{% static 'js/analyser.js' %}"></script>
      <!-- nice scrollbar -->
      <script src="{% static 'js/perfect-scrollbar.min.js' %}"></script>
      <script>
      </script>
      <!-- custom js -->
      <script src="{% static 'js/custom.js' %}"></script>
      <script src="{% static 'js/chart_custom_style1.js' %}"></script>
   </body>
</html>