
{% extends 'header.html' %}
{% load static %}
{% block content %}

<html lang="Eng">
<head>
<title>Edit Customer</title>
</head>
<body>
   <div class="container">
            <div class="center verticle_center ">
               <div class="signup_section">
                     <div class="center">
                        <img width="auto" src="{% static 'images/logo/logo.png' %}" style="width:200px;height:150px;"/>
                     </div>
                  </div>
                 <center><h1> Wellcom To {{user.name}}</h1></center>
               </div>
            </div>
         </div>
</body>
</html>
{% endblock %}