{% extends 'header.html' %}
{% load static %}
{% block content %}
<html lang="en">
   <body class="inner_page login">
      <div class="full_container">
         <div class="container">
            <div class="center verticle_center full_height">
               <div class="login_section">
                  <div class="logo_login">
                     <div class="center">
                        <img width="210" src="{% static 'images/logo/logo.png' %}" alt="#" />
                     </div>
                  </div>
                  {% if msg %}
		          <center><b style="color: blue;">{{msg}}</b></center>
                    <br>
                {% endif %}
                  <div class="login_form">
                    <form name="new_passform" action="{% url 'new_password' %}" method="post" class="new_pass-form">
                        {% csrf_token %}
                             <input type="hidden" name="email" value="{{email}}" required/>
                        <fieldset>
                           <div class="field">
                              <label class="label_field">New Password</label>
                              <input type="password" name="newpassword" placeholder="New Password" required/>
                           </div>
                            <div class="field">
                              <label class="label_field">Con N Password</label>
                              <input type="password" name="cnpassword" placeholder="Conform Password" required/>
                           </div>
                           <div class="field margin_0">
                              <label class="label_field hidden">hidden label</label>
                              <button class="main_bt">Update Password</button>
                           </div>
                        </fieldset>
                     </form>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </body>
</html>
{% endblock %}